.about_ul{
    padding-left: 15px;
}

.techn_cont img{
    height: 60px;
    width: auto;
    padding: 0;
    cursor: help;
}

.img_sized{
    height: 70px !important;
}

.abt_cont h2{
    font-size: 1.25rem;
}