.prodcut_descr {
    padding: 15px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: inset 2px 2px 5px #bebebe,
            inset -2px -2px 5px #ffffff;
}

.product_card{
    box-shadow: 3px 5px 15px rgba(0,0,0,0.2);
    width: fit-content;
    width: 100%;
    text-align: right;
    /*border-radius: "0 25px 25px 0"*/
}

/*
.product_card *{
    width: fit-content;
}*/

.prodcut_img{
    box-shadow: 5px 0 20px rgba(0,0,0,0.25)
}

.prod_info{
    width: 30% !important;
}

.product{
    box-shadow:  8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
    overflow: hidden;
}

.fade_in{
    animation: fadeIn 0.4s;
}

.cart_button{
    background: linear-gradient(145deg, #6b90ff, #3366fd);
    box-shadow: 2px 2px 7px -2px rgba(0,0,0,0.4);
}

.amount_button{
    background: linear-gradient(145deg, rgba(255,255,255,0.2), rgba(255,255,255,0.05));
    box-shadow: 2px 2px 7px -4px rgba(0,0,0,0.4);
}

@keyframes fadeIn {
    0% {opacity: 0; transform: translateY(-3vw)}
    100% {opacity: 1; transform: translateY(0)}
}

@media screen and (max-width: 1200px){
    .prodcut_img{
        width: 100% !important;
        height: 400px !important;
    }

    .prod_info{
        width: 100% !important;
    }
}

@media screen and (max-width: 576px){
    .prodcut_img{
        width: 100% !important;
        height: 300px !important;
    }
}