.cart_item_container:hover .cart_delete_btn{
    opacity: 1;
    transition: 0.2s;
}

.cart_delete_btn{
    opacity: 0;
    position: absolute;
    border-radius: 8px !important;
    height: 75px;
    width: 75px;
    font-size: 3rem;
    transition: 0.15s !important;
}

.cart_delete_btn:hover{
    font-size: 2rem !important;
}