.item_container{
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  8px 8px 16px #bebebe,
             -8px -8px 16px #ffffff;
    overflow: hidden;
}

.cart_icon{
    height: 1.5rem;
    margin-left: 8px
}

.neumo_button{
    background: linear-gradient(145deg, #6b90ff, #3366fd);
    box-shadow:  3px 3px 6px #bebebe,
             -3px -3px 6px #ffffff;
}

.neumo_button_2{
    background: linear-gradient(145deg, rgba(255,255,255,0.35), rgba(255,255,255,0.1));
    box-shadow:  2px 2px 4px #bebebe,
             -2px -2px 4px #ffffff;
}


.neumo_button_2:hover{
    color: black !important;
}

/*
.item_container a:hover img{
    border: 2px solid #3366fd !important;
    transition: 0.075s;
    border-radius: 8px 8px 0 0;
}*/